@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1240px;
  padding: 0px 20px;
  margin: 0 auto;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}
button {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #ff7500;
  color: white;
  border: none;
}
/* nav start */

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo {
  display: flex;
  max-width: 227px;
  width: 100%;
}
.logo img {
  width: 100%;
  object-fit: cover;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.nav__item {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
}

/* nav end */
/* hero start */
.hero {
  background-color: #252420;
  padding-top: 40px;
  color: white;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.hero__info {
  max-width: 387px;
  width: 100%;
}
.line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}
.hero__line {
  margin-bottom: 40px;
}
.hero__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}
.hero__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin-bottom: 32px;
}
.hero__img {
  max-width: 510px;
  width: 100%;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: -63px;
  box-shadow: 24px 24px 0px 0px #ff750099;
}
.hero__img img {
  width: 100%;
  object-fit: cover;
}
/* hero end */
/* advantages start */
.advantages {
  padding-top: 210px;
  padding-bottom: 210px;
}

.advantages__line {
  margin-bottom: 24px;
}
.advantages__title {
  max-width: 435px;
  width: 100%;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.5px;
}
.advantages__cards {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages__card {
  max-width: 340px;
  width: 100%;
}
.card__img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 32px;
  color: rgba(255, 117, 0, 0.2);
}
.card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
}
.card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}
/* advantages end */
/* books start */
.books {
  padding-top: 120px;
  padding-bottom: 160px;
}
.books__container {
  display: flex;
  justify-content: space-between;
  padding: 64px;
  background-color: #252420;
  border-radius: 12px;
}
.books__info {
  max-width: 440px;
  width: 100%;
  color: white;
}
.books__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}
.books__description {
  max-width: 440px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
}
.books__info :nth-child(3) {
  margin-bottom: 24px;
}
.books__description span {
  color: #ff7500;
}
.books__img {
  max-width: 440px;
  max-height: 440px;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 12px;
  margin-top: -145px;
  overflow: hidden;
}
.books__img img {
  width: 100%;
  object-fit: cover;
}
/* books end */
/* footer start */
footer {
  background-color: #f8f8f8;
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(37, 36, 32, 0.5);
  margin-bottom: 64px;
}
.footer__logo {
  max-width: 227px;
  width: 100%;
  display: flex;
}
.footer__logo img {
  width: 100%;
  object-fit: cover;
}
.footer__social {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.footer__links {
  max-width: 224px;
  width: 100%;
}
.links__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-bottom: 16px;
  color: #252420;
}
/* footer end */
/* media start */
@media (max-width: 910px) {
  .nav__container{
    gap: 16px;
  }
  .nav__list{
    font-size: 14px;
    gap: 16px;
  }
  .logo{
    max-width: 170px;
  }
   .books__img {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 80px auto;
  }

  .nav__item {
    display: none;
  }
  .nav__item:last-child {
    display: flex;
  }
  nav button {
    padding: 12px 16px;
  }
  /* hero */
  .hero__container {
    flex-direction: column;
    align-items: start;
  }

  .hero__img {
    margin-bottom: 0px;
    width: 100%;
  }

  /* advantages */
  .advantages {
    padding: 80px 20px;
  }

  .advantages__title {
    font-size: 48px;
  }

  .advantages__cards {
    flex-wrap: wrap;
  }

  /* books */
  .books {
    padding: 80px 20px;
  }
  .books__container {
    flex-direction: column;
    gap: 40px;
  }

 

  /* footer */
  .footer__bottom {
    flex-wrap: wrap;
  }
}
@media (max-width: 475px) {
  /* container */
  .container {
    padding: 20px;
  }

  /* hero */
  .hero {
    padding-top: 32px;
  }

  .hero__container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero__info {
    max-width: 100%;
  }

  .hero__line {
    margin: 0 auto 24px;
  }

  .hero__title {
    font-size: 28px;
  }

  .hero__description {
    font-size: 14px;
  }

  .hero__img {
    margin-bottom: 0;
    box-shadow: none;
  }

  /* advantages */
  .advantages {
    padding: 40px 0;
  }

  .advantages__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .advantages__cards {
    flex-direction: column;
    align-items: center;
  }

  .advantages__card {
    max-width: 100%;
    text-align: center;
  }

  .card__img {
    margin: 0 auto 24px;
  }

  /* books */
  .books {
    padding: 20px;
  }

  .books__container {
    flex-direction: column;
    padding: 32px;
    gap: 32px;
  }

  .books__title {
    font-size: 28px;
  }

  .books__img {
    margin-top: 0;
  }

  /* footer */
  .footer__top {
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }

  .footer__bottom {
    flex-direction: column;
    gap: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
